.app-container {
  display: flex;
  justify-content: center;
}
.home-container {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .home-container {
    width: 90%;
    max-width: 1100px;
  }
}

.all-restaurant-responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.restaurants-list {
  list-style-type: none;
  padding-left: 0px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .restaurants-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
    width: 80%;
    max-width: 1100px;
  }
}

.horizontal-line {
  border: 1px solid #cbd2d9;
}
@media screen and (min-width: 768px) {
  .horizontal-line {
    width: 100%;
  }
}
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigate-buttons {
  border: none;
  outline: none;
  cursor: pointer;

  background-color: transparent;
}
.restaurant-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.restaurant-failure-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurant-failure-img {
  height: 296px;
  width: 268px;
  border-radius: 0px;
}
.failure-not-found-heading {
  font-family: 'DM Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e293b;
}
.failure-error-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #475569;
}

.failure-home-button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background-color: #f7931e;
  border-radius: 12px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
