.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    width: 90%;
    max-width: 1100px;
  }
}
.header-text-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  color: #183b56;
}
.instruction-para {
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #64748b;
}
.sort-by-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .sort-by-container {
    justify-content: flex-end;
  }
}

.sort-by-icon {
  font-size: 24px;
  color: #475569;
  margin-right: 6px;
}
.sort-by-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  margin-left: 10px;
}

.select-options {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #475569;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.options {
  color: #475569;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  padding: 16px;
  border-radius: 12px;
}
