.login-app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .login-app-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.login-website-logo-mobile-image {
  width: 380px;
  height: 380px;
  align-self: flex-end;
}

@media screen and (min-width: 992px) {
  .login-website-logo-mobile-image {
    display: none;
  }
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .login-form-container {
    width: 60%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-bottom: 20px;
  border-radius: 8px;
}

@media screen and (min-width: 798px) {
  .form {
    width: 456px;

    flex-shrink: 0;
    padding: 64px 48px 64px 48px;

    box-shadow: 0px 8px 40px 0px #07070714;
  }
}

.login-website-logo-desktop-image {
  height: 39px;
  width: 49px;
}
@media screen and (max-width: 991px) {
  .login-website-logo-desktop-image {
    display: none;
  }
}
.taste-kitchen-heading {
  color: #f7931e;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

@media screen and (max-width: 992px) {
  .taste-kitchen-heading {
    display: none;
  }
}

.heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #0f172a;
}

@media screen and (max-width: 992px) {
  .heading {
    text-align: left;
    align-self: flex-start;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #475569;
  margin-bottom: 10px;
}
.username-input-field {
  font-size: 14px;
  background-color: #e2e8f0;
  color: #000000;
  margin-top: 5px;
  outline: none;
  border: none;
  padding: 8px 16px 8px 16px;
  height: 40px;

  border-radius: 2px;
}
.password-input-field {
  font-size: 14px;
  background-color: #e2e8f0;
  color: #000000;
  margin-top: 5px;
  outline: none;
  border: none;
  padding: 8px 16px 8px 16px;
  height: 40px;

  border-radius: 2px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .login-image {
    order: -1;
    width: 387px;
    height: 387px;

    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    margin-left: 20px;
    flex-shrink: 1;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .login-image {
    width: 40%;
    flex-shrink: 1;
    height: 100vh;
    display: block;
  }
}
.login-button {
  height: 44px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  background-color: #f7931e;
  color: #ffffff;
  border-radius: 8px;

  border: none;
  outline: none;
  cursor: pointer;
}
.error-message {
  align-self: start;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ef4444;
}
