.sample-container {
  display: flex;
  flex-direction: column;
}

.swiggy-banner-container {
  height: 320px;
  width: 100%;
  border-radius: 8px;
  background-color: #cb9165;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-class {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.image1 {
  border-top-left-radius: 8px;
}
.right-corner {
  background-image: url('https://res.cloudinary.com/dwiulfw8t/image/upload/v1639136881/Vector_3x_vfy5vr.png');
  background-size: cover;
  height: 320px;
}
.image3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.menu-container {
  margin-top: 50px;
}
