.footer-bg-container {
  padding: 30px;
  border-radius: 0px;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  height: 256px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-bg-container {
    padding: 40px;
    width: 100%;
  }
}

.company-logo-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  height: 29px;
  width: 39px;
  border-radius: 0px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    height: 39px;
    width: 49px;
    border-radius: 0px;
  }
}

.footer-heading {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-heading {
    font-size: 32px;
    line-height: 48px;
  }
}

.contact-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 133% */

  text-align: center;

  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contact-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    /* or 133% */

    text-align: center;

    color: #ffffff;
  }
}
.contact-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icons {
  height: 30px;
  width: 30px;
  border-radius: 12px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .contact-icons {
    height: 40px;
    width: 40px;
  }
}

.pinterest {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
}

.instagram {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}

.twitter {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}

.facebook {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 12px;
}
