.slider-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-container {
  width: 100%;
}
.container {
  margin-top: 20px;
  border-radius: 8px;
}
.slider-images {
  height: 320px;
  width: 100%;
}
.slick-slide img {
  margin: auto;
}
.slider-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.slider-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.slider-failure-heading-text {
  font-size: 16px;
  color: #1e293b;
}
