.restaurant-item-list {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item-image {
  height: 100px;
  width: 160px;
  left: 165px;
  top: 216px;
  border-radius: 8px;
}
.item-details-container {
  margin-left: 10px;
}
.item-name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  /* identical to box height, or 133% */

  letter-spacing: 0.2px;

  /* Light / blue-gray / 700 */

  color: #334155;
}
.item-type {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  /* identical to box height, or 171% */

  /* Light / blue-gray / 500 */

  color: #64748b;
}
.rating-container {
  display: flex;
  align-items: center;
  line-height: 0px;
}
.rating {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  display: flex;
  align-items: center;
  margin-left: 8px;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.total-reviews {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  /* identical to box height */

  margin-left: 8px;
  display: flex;
  align-items: center;

  /* Light / blue-gray / 500 */

  color: #64748b;
}
